name: ruby
on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run standard
        run: bundle exec rake standard

      - name: Run unit tests
        run: bundle exec rake spec

      - name: Cache firebase tools
        uses: actions/cache@v2
        id: cache-firebase
        with:
          path: tools/firebase
          key: ${{ runner.os }}-firebase-tools

      - name: Install firebase tools
        if: steps.cache-firebase.outputs.cache-hit != 'true'
        run: |
          mkdir -p tools
          curl -o tools/firebase -L https://firebase.tools/bin/linux/latest
          chmod +rx tools/firebase

      - name: Run integration tests
        run: tools/firebase emulators:exec --only auth --project test-adminsdk-project 'bunlde exec rake integration'
